.item-success{background-color:#D9FCC4;}
.item-danger{background-color:#F9C8C2;}
.item-warning{background-color:#FBF8EE;}
.content-margin{margin-top:-36px;}
.content-center{text-align:center;}
.content-title{font-size:17px;margin-bottom: -15px;}

.navbar {background: none repeat scroll 0 0 #2b1127;border-bottom: medium none;color: #fff;height:60px;}
.navbar a{color:#fff;}
.navbar-logo{background: url("../img/logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);display: block;height: 47px;width: 200px;}
.toolbarSum{text-align: center;display:inline-block;padding:12px 4px;background: none repeat scroll 0 0 #283F5F;border-bottom: medium none;color: #fff;font-size: 13px;}